
<h4 class="text-center">Enter a location name and an address and click submit to validate your address.</h4>
<form class="col-12" id="form"  method="post" action="#">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="enter name">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <textarea  class="form-control" id="address" rows="5" name="address" placeholder="enter address"/>
      </div>
      <div class="form-group">
         <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form> 

<div class="map"></div>  
 
